@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background-color: #f8fafc;
}

.card-hover {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.image-container {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  background-color: white;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 1rem;
}

/* Estilo para el ícono de agregar producto */
.add-product-icon {
  position: fixed; 
  bottom: 20px; 
  right: 20px; 
  width: 50px;
  height: 50px;
  background-color: #1771d8; 
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.add-product-icon:hover {
  transform: scale(1.1); 
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.add-product-icon svg {
  width: 24px; 
  height: 24px;
  fill: white; 
}
